*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Barlow', sans-serif;
    color: white;
}

:root{
    --background-color: #000000;
    --main-color: #0D0D0D;
    --primary-color: #FFFFFFB3;
    --secondary-color: #f5f5f5;
    --third-color: #0f0f0f;
    --header-color: #090909;
    --text-color: #ffffff;
    --hov-color: #1a1a1a;

    --h1-fonts: 3.75rem;
    --h2-fonts: 2.813rem;
    --h3-fonts: 1.875rem;
    --h4-fonts: 1.5rem;
    --h5-fonts: 1.25rem;
    --h6-fonts: 1.125rem;
    --p-fonts: 1rem;
}

body{
    background-color: var(--background-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: 25px 12%;
    z-index: 2;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 9px 18px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 24px;
    height: auto;
    margin-right: 8px;
}

.logo span{
    color: var(--text-color);
    font-size: var(--h4-fonts);
    font-weight: 600;
    text-transform: capitalize;
}

.navigation a{
    color: var(--text-color);
    font-size: var(--p-fonts);
    font-weight: 400;
    text-transform: capitalize;
    padding: 4px 18px 8px 18px;
    letter-spacing: 0.5px;
    transition: all .42s;
}

.navigation a:hover{
    color: var(--primary-color);
    background-color: var(--hov-color);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

.head-btn{
    display: flex;
    align-items: center;
}

.head-btn a{
    display: inline-block;
    color: var(--text-color);
    font-size: var(--p-fonts);
    margin-right: 10px;
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
    padding: 6px 18px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: all .42s;
}

.head-btn a:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

#menu-icon{
    color: var(--text-color);
    font-size: var(--h3-fonts);
    z-index: 10001;
    cursor: pointer;
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: none;
}

section{
    padding: 100px 12% 60px;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(image/banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-humb img{
    width: var(--h4-fonts);
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.home-humb{
    display: inline-flex;
    align-items: center;
    padding: 8px 15px;
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
    border: 2px solid rgba(255, 255, 255, 0.1); 
    border-radius: 5px;
    margin-bottom: 20px;
}

.home-humb h4{
    color: var(--text-color);
    font-size: var(--h5-fonts);
    font-weight: 500;
    text-transform: inherit;
}

.home-text h1{
    color: var(--text-color);
    font-size: var(--h1-fonts);
    font-weight: 700;
    line-height: 1.2;
    text-transform: inherit;
    margin-bottom: 20px;
}

.home-text p{
    max-width: 600px;
    color: var(--text-color);
    font-size: var(--h6-fonts);
    font-weight: 400;
    line-height: 28px;
    margin: 0px auto 40px;
}

.home-btn a{
    display: inline-block;
    color: var(--text-color);
    font-size: var(--h6-fonts);
    font-weight: 400;
    text-transform: capitalize;
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 8px 18px;
    margin: 0px 12px;
    transition: all .42s;
}

.home-btn .btn-2{
    background: transparent;
    transition: all .42s;
}

.home-btn .btn-2:hover{
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
}

.home-btn a:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

.explore{
    position: absolute;
    bottom: 6%;
    left: 45%;
}

.explore-icon{
    display: flex;
    align-items: center;
    transition: all .42s;
}

.explore-icon i{
    font-size: var(--h4-fonts);
    color: var(--text-color);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 2px 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all .42s;
    margin-right: 10px;
}

.explore-icon h4{
    color: var(--text-color);
    font-size: var(--p-fonts);
    font-weight: 500;
    cursor: pointer;
}

.explore-icon:hover {
    transform: translateY(5px);
}

.explore-icon i:hover {
    color: rgba(255, 255, 255, 0.1);
    transform: translateY(5px);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
}

.humb-text{
    text-align: center;
}

.web-btn a{
    display: inline-block;
    color: var(--primary-color);
    font-size: var(--h6-fonts);
    font-weight: 400;
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 8px 20px;
    margin-bottom: 40px;
    transition: all .42s;
}

.web-btn a:hover{
    color: var(--text-color);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

.humb-text h2{
    max-width: 1050px;
    color: var(--text-color);
    text-transform: inherit;
    font-size: var(--h2-fonts);
    font-weight: 600;
    margin: 0px auto 0px;
    line-height: 1.4;
}

.web-background{
    background-color: var(--background-color);
}

.process{
    text-align: center;
    margin-bottom: 50px;
}

.process h2{
    color: var(--text-color);
    font-size: var(--h2-fonts);
    font-weight: 700;
    text-transform: inherit;
    margin-bottom: 10px;
}

.process p{
    color: var(--secondary-color);
    font-size: var(--h6-fonts);
    font-weight: 400;
}

.web-main-process{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
}

.process-humb{
    position: relative;
    background: var(--third-color);
    padding: 20px 25px 40px 25px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.process-img img{
    width: 100%;
    height: auto;
}

.process-text h4{
    color:var(--text-color);
    font-size: var(--h5-fonts);
    text-transform: capitalize;
    font-weight: 500;
    margin: 15px 0px;
}
.process-text p{
    font-size: var(--p-fonts);
    color: var(--primary-color);
    line-height: 24px;
    font-weight: 400;
}


.template-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 15px 25px;
    border-radius: 5px;
    margin-bottom: 60px;
}

.template-1 p{
    color: var(--primary-color);
    font-size: var(--h6-fonts);
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 4px;
}

.template-1 h4{
    color: var(--text-color);
    font-size: var(--h4-fonts);
    font-weight: 500;
}

.template-2 i{
    display: inline-block;
    width: 50px;
    height: 50px;
    color: var(--text-color);
    font-size:var(--h4-fonts);
    border: 2px solid var(--text-color);
    border-radius: 30px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    rotate: 140deg;
    cursor: pointer;
    transition:all .42s;
}

.template-2 i:hover{
    border: 2px solid rgba(255, 255, 255, 0.1);
    rotate: 180deg;
    color:var(--primary-color);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

.main-template{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 30px 30px;
    border-radius: 5px;
}

.humb-template img{
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all .42s;
}

.humb-template img:hover{
    filter: brightness(50%);
}

.template-detls{
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 20px 20px;
    border-radius: 5px;
    background-color:var(--main-color);
}

.template-text{
    display: flex;
    justify-content: space-between;
}

.template-text h5{
    color: var(--text-color);
    font-size: var(--h5-fonts);
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.template-text p{
    color: var(--primary-color);
    font-size: var(--p-fonts);
    text-transform: capitalize;
    line-height: 24px;
    margin-bottom: 25px;
}

.tem-prices{
    color:var(--text-color);
    font-size:var(--h6-fonts);
    font-weight: 500;
}

.tem-btn{
    display: flex;
    align-items: center;
    transition: all .42s;
    cursor: pointer;
}

.tem-btn:hover{
    transform: translateX(5px);
}

.tem-btn h6{
    color: var(--primary-color);
    font-size:var(--p-fonts);
    font-weight: 400;
    text-transform: capitalize;
    margin-right: 10px;
}

.tem-btn i{
    display: inline-block;
    width: 30px;
    height: 30px;
    color: var(--primary-color);
    font-size: var(--h5-fonts);
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    rotate: -30deg;
    cursor: pointer;
    transition: all .42s;
}

.tem-btn i:hover{
    border: 2px solid rgba(255, 255, 255, 0.1);
    rotate: 5deg;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

.project-detls{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap:1.5rem
}

.project-img{
    text-align:center;
}

.project-img img{
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-bottom: 15px;
}

.project-img h4{
    color: var(--primary-color);
    font-size: var(--h4-fonts);
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 40px;
    transition: all .42s;
}

.project-img h4:hover{
    color: var(--text-color);
}

.project-text h3{
    text-align: center;
    font-size: var(--h4-fonts);
    font-weight: 600;
    text-transform:capitalize;
    color:var(--primary-color);
}

.plan-text{
    text-align: center;
    margin-bottom: 50px;
}

.plan-text h2{
    color:var(--text-color);
    font-size:var(--h2-fonts);
    font-weight: 700;
    text-transform: inherit;
    margin-bottom: 10px;
}

.plan-text p{
    color:var(--secondary-color);
    font-size: var(--h6-fonts);
    font-weight: 400;
    line-height: 24px;
}

.plan-btn{
    display:inline-block;
    background: var(--third-color);
    padding: 12px 2px;
    margin-top: 60px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius:  5px;
}

.plan-btn a{
    color: var(--text-color);
    font-size: var(--p-fonts);
    font-weight: 500;
    text-transform: capitalize;
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
    padding: 4px 12px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0px 5px;
    transition: all .42s;
}

.plan-btn .planbt-2{
    background: transparent;
    border: none;
    transition: all .42s;
}

.plan-btn .planbt-2:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
}

.plan-btn .planbt-1:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

.main-plan{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
}

.web-plan-1{
    background: var(--third-color);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 30px 30px;
    transition: all .42s;
}

.plan-det{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.plan-det i{
    font-size: var(--p-fonts);
    background: var(--hov-color);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}

.web-plan-1 p{
    color: var(--text-color);
    font-size: 400;
    text-transform: capitalize;
}

.web-plan-1 h4{
    color: var(--text-color);
    font-size: var(--h6-fonts);
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.web-plan-1 span{
    font-size: var(--h3-fonts);
    font-weight: 700;
}

.plan-para p{
    color:var(--primary-color);
    margin-bottom: var(--p-fonts);
}

.plan-web-btn{
    text-align: center;
    color: var(--text-color);
    font-size: var(--p-fonts);
    padding: 8px 0px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
    transition: all .42s;
}

.plan-web-btn:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

.more-detls{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.more-detls i{
    font-size: var(--p-fonts);
    background: var(--hov-color);
    padding: 4px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-right: 15px;
    cursor: pointer;
    transition: all .42s;
}

.more-detls i:hover{
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

#web-planid{
    box-shadow:rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

.web-plan-1:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

.testimonial-text{
    text-align: center;
    margin-bottom: 50px;
}

.testimonial-text h2{
    color: var(--text-color);
    font-size: var(--h2-fonts);
    font-weight: 700;
    text-transform: inherit;
    margin-bottom: 10px;
}

.testimonial-text p{
    color: var(--secondary-color);
    font-size:var(--h6-fonts);
    font-weight: 400;
}

.main-test{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
}

.test-detls{
    background: var(--third-color);
    border:2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 20px 20px;
    cursor: pointer;
    transition: all .42s;
}

.test-img-text{
    display:flex;
    align-items: center;
    gap: 15px;
}

.test-img img{
    width: 60px;
    height: 60px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    object-fit: cover;
    object-position: center top;
}

.test-detls p{
    color: var(--primary-color);
    font-size: var(--p-fonts);
    font-weight: 400;
    line-height: 1.4rem;
    margin-bottom: 20px;
}

.test-detls h4{
    color: var(--text-color);
    font-size: var(--h6-fonts);
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 15px;
}

.test-detls:hover{
    box-shadow:  rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

.main-contact{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 4rem;
}

.contact-info-left h3{
    color: var(--text-color);
    font-size: var(--h2-fonts);
    font-weight: 700;
    text-transform: inherit;
}

.contact-info-left p{
    max-width: 500px;
    color: var(--primary-color);
    font-size: var(--p-fonts);
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0px;
}

.info-detls{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.info-detls i{
    color: var(--primary-color);
    font-size: var(--h4-fonts);
    margin-right: 10px;
    transition: all .42s;
}

.info-detls i:hover{
    color: var(--text-color);
}

.info-detls h5{
    color: var(--primary-color);
    font-size: var(--h6-fonts);
    font-weight: 400;
    text-transform: inherit;
}

.cont-right label{
    color: var(--text-color);
    font-size: var(--p-fonts);
    font-weight: 400;
    text-transform: capitalize;
}

.cont-right input{
    max-width: 100%;
    width: 100%;
    height: 40px;
    padding: 0px 0px 0px 10px;
    outline: none;
    background: var(--third-color);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 8px  0px 15px 0px;
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
    transition: all .42s;
}

.cont-right input:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

::placeholder{
    color: var(--primary-color);
    text-transform: inherit;
}

.cont-right textarea{
    max-width: 100%;
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    outline: none;
    background: var(--third-color);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 8px  0px 15px 0px;
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
    transition: all .42s;
}

.cont-right textarea:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

.cont-right .submit{
    color: var(--text-color);
    font-size: var(--h6-fonts);
    text-transform: capitalize;
    letter-spacing: 0.5px;
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
    cursor: pointer;
    transition: all .42s;   
}

.cont-right .submit:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

.web-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot-log{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.foot-log img{
    width: 30px;
    height:auto;
    margin-right: 10px;
}

.foot-log h4{
    color: var(--text-color);
    font-size: var(--h4-fonts);
    font-weight: 600;
    text-transform: capitalize;
}

.web-footer-1 p{
    max-width: 400px;
    color: var(--primary-color);
    font-size: var(--p-fonts);
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

.footer-icon i{
    width: 35px;
    height: 35px;
    color: var(--primary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--h6-fonts);
    border-radius: 5px;
    margin-right: 10px;
    background: linear-gradient(259deg, rgb(36,36,36) 0%, rgb(16,16,16) 100%);
    transition: all .42s;
}

.footer-icon i:hover{
    color: var(--text-color);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px 2px;
}

.main-footer-detls{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.footer-detls-1 a{
    display: block;
    color: var(--primary-color);
    font-size: var(--p-fonts);
    font-weight: 400;
    margin-bottom: 10px;
    transition: all .42s;
}

.footer-detls-1 a:hover{
    color: var(--text-color);
}

.footer-detls-1 h4{
    color: var(--text-color);
    font-size: var(--h4-fonts);
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 15px;
}

hr{
    border: none;
    height: 0.5px;
    background: var(--hov-color);
}

.copy-right-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.copy-right-text p{
    color: var(--primary-color);
    font-size: var(--p-fonts);
    font-weight: 400;
}


/* responsive */
@media(max-width:1340px){
    section{
        padding: 100px 5% 60px;
        transition: .3s;
    }
}

@media(max-width:1200px){
    header{
        padding: 25px 4%;
        transition: .3s;
    }
    .main-contact{
        grid-template-columns: 1fr;
    }
}

@media(max-width:1020px){
    .home-humb h4{
        font-size: 18px;
        transition: .3s;
    }
    .home-text h1{
        font-size: 50px;
        transition: .3s;
    }
    #menu-icon{
        display: block;
    }
    .navigation{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 20px;
        top: 0;
        right: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: var(--third-color);
        text-align:center;
        transition : all .32s;
    }
    .navigation a{
        display: inline-block;
        margin: 0px 0px 20px 0px;
        font-size: 30px;
        font-weight: 500;
    }
    .navigation.open{
        left: 0;
    }
}

@media(max-width:830px){
    .home-humb h4{
        font-size: 16px;
        transition: .3s;
    }
    .home-text h1{
        font-size: 40px;
        transition: .3s;
    }
    .explore{
        left: 43%;
        transition: .3s;
    }
    .humb-text h2{
        font-size: 40px;
        transition: .3s;
    }
    .process h2{
        font-size: 40px;
        transition: .3s;
    }
    .plan-text h2{
        font-size: 40px;
        transition: .3s;
    }
    .testimonial-text h2{
        font-size: 40px;
        transition: .3s;
    }
    .contact-info-left h3{
        font-size: 40px;
        transition: .3s;
    }
}

@media(max-width:655px){
    .home-text h1{
        font-size: 50px;
        transition: .3s;
    }
    .explore{
        left: 32%;
        transition: .3s;
    }
    .explore-icon h4{
        font-size: 20px;
        transition: .3s;
    }
    .humb-text h2{
        font-size: 32px;
        transition: .3s;
    }
    .process h2{
        font-size: 32px;
        transition: .3s;
    }
    .plan-text h2{
        font-size: 30px;
        transition: .3s;
    }
    .testimonial-text h2{
        font-size: 29px;
        transition: .3s;
    }
    .contact-info-left h3{
        font-size: 40px;
        transition: .3s;
    }
    br{
        display: none;
    }
    .main-template{
        padding: 10px 10px;
        transition: .3s;
    }
    .project-detls{
        gap: 0.5rem;
        transition: .3s;
    }
    .web-footer{
        display: block;
        transition: .3s;
    }
    .web-footer-1{
        margin-bottom: 30px;
        transition: .3s;
    }
    .copy-right-text{
        display: block;
        padding: 20px 5%;
        text-align: center;
    }
    .copy-right-text p{
        font-size: 18px;
        transition: .3s;
    }
}